.background-cuadrado{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,  -50%);
width: 100vw;
height: 100vw;
background-color: gray;
}

.cuadrado1{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,  -50%);
width: 387px;
height: 376px;
background-color: white;
opacity: 0.97;
margin-left: 108px;
}


.cuadrado2{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,  -50%);
width: 206px;
height: 375px;
background-color: lightgray;
margin-left: -188px;
opacity: 0.9;
filter: blur(3px);
}

.cuadrado3{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,  -50%);
width: 141px;
height: 167px;
background-color: lightgray;
opacity: 0.9;
margin-left: -188px;
background: none;       
  border: none;          
  box-shadow: none;       
    

}

#imagen121{
width: 180px;
height: 190px;
margin-left: -13px;
margin-top: -13px;


}

.cuadrado4{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,  -50%);
width: 101px;
height: 11px;
background-color: black;
margin-left: -175px;
margin-top: 75px ;

background: none;       
  border: none;          
  box-shadow: none;       
    
}


.cuadrado5{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,  -50%);
width: 124px;
height: 23px;
background-color: black;
margin-left: 5px;
margin-top: -147px ;
}

.cuadrado6{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,  -50%);
width: 283px;
height: 23px;
background-color: black;
margin-left: 82px;
margin-top: -50px ;
}

.cuadrado7{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,  -50%);
width: 283px;
height: 23px;
background-color: black;
margin-left: 82px;
margin-top: 25px ;
}



.cuadrado8{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,  -50%);
width: 59px;
height: 23px;
background-color: black;
margin-left: 235px;
margin-top: 150px ;
}
